# in progress
api/youtube.py
scrap/*

# keys
etc/*
invite bot to discord server.txt
*_database.db

build/*
main.spec
*.exe
*.spec
*.iml
.idea/*


# scratch pads
scrap/trash.py
scrap/test.py
scrap/*

# output files
*.log
!log.py
sys*
data/*
*.xml

# IDE files
.idea/*
.idea/alfred.iml

# env files
.env
alve

# Misc
_*

# training
*.jsonl

# Keys
*.pem
*.key
api/test.py
.idea/alfred.iml
