
# in progress
api/youtube.py
scrap/*

#scratch pads
scrap/trash.py
scrap/test.py
scrap/*


# output files
*log*
*.txt
sys*
data/*
.idea/workspace.xml


# env files
.env
alve
.idea/*
_*

# training
*.jsonl