# in progress
api/youtube.py
scrap/*

# scratch pads
scrap/trash.py
scrap/test.py
scrap/*

# output files
*.log
!log.py
*.txt
sys*
data/*
*.xml

# IDE files
.idea/*

# env files
.env
alve

# Misc
_*

# training
*.jsonl

# Keys
*.pem
*.key
api/test.py
